*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 0;
    max-width: 100%;
}
/* styling header */
.header{
    width: 100vw;
    height: 100vh;
    background-color: #FFF8F3;
    background-image:url(./images/header_bg.png),url(./images/developer.png);
    background-repeat:no-repeat;
    background-position: bottom right,top left;
    background-size:auto,13vh ;
    position: relative;
}
/* styling nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:27px 0;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 900;
    padding-left:150px;
}
.primary-color{
    color:#FD6E0A;
}
nav ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
    font-weight: 400;
}
.primary-button{
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 10px 10px;
    width: 190px;
    height: 64px;
}
.second-button{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    width: 190px;
    height: 64px;
    color: #ff6a00;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    background-color: #FFF8F3;
}
/* styling main content of header */
.banner{
    max-width: 100vw;
    height: auto;
    padding:150px 150px 0;
    display: flex;
    line-height: 1.5;
}
.banner .profile-picture{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.banner-greetings{
    color:  #474747;
    font-size: 35px;
    font-weight:700;
}
.banner-title{
    color: #181818;
    font-size: 65px;
    font-weight: 700;
}
.banner>div>p{
    width: 585px;
    color: #757575;
    font-size: 18px;
    font-weight: 300;
    line-height: 2.5;
    margin: 10px auto;
}

/* Styling Main section */
main{
    max-width:100vw;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* styling about-me section */
.about-me{
    width: 70%;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 155px;
    margin: 130px auto;
}
.section-title{
    color: #181818d7;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5;
    padding: 50px 0;
    width:70%;
    margin: 0 auto;
}
.about-me-container{
    display:flex;
    justify-content: space-between;
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.info>h4{
    font-weight: 700;
    color:#4e4e4e;
}

/* styling what i do or skill section */
.skills{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px 2px rgba(112, 109, 109, 0.219);
}
.skills-container{
    width: 80vw;
    display: flex;
    gap:30px;
    margin: 0 auto;
    padding-bottom:150px;
}
.skills-description{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}
.skills-heading{
    color:#181818;
    font-size: 20px;
    font-weight: 700;
}
.skills>h3,.skills>img,.skills>p{
    padding: 20px;
}

.summary-box{
    width: 511px;
}
/* styling resume */
.summary-cont{
    display: flex;
    justify-content: center;
    gap:70px;
    margin-top: 113px;
}
.summary-title{
    color:#474747;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}
.inner-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.p1{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    margin:10px 0 20px;
    text-align: start;
}
.p2{
    width: 511px;
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin:20px 72px 60px 0px;
}
.btn-cont{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}
.summary hr{
    margin: 30px 0;
    opacity: 0.3;
}
/* styling footer */
.footer-parent{
    max-width: 100%;
    margin:auto 0;
    display: flex;
    gap:117px;
    padding:130px 200px;
    position: relative;
}
footer{
    height: 780px;
    background-color: #faf1eb;
}
.footer-title{
    color:#181818;
    font-size: 35px;
    font-weight: 700;
}
.footer-para{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 562px;
    margin: 20px 0;
}
.child2 input{
    border-radius: 5px;
    background-color:  #FFF;
    width: 361px;
    height: 64px;
    margin-top:28px;
    border: none;
}
.child2 textarea{
    width: 461px;
    height: 180px;
    border: none;
    border-radius: 5px;
    background: #FFF;
    margin:24px 0;

}
::placeholder{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 30px;
    padding-top: 13px;
}
.social-links img{
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-top: 30px;    
}
h6{
    background-color: #FFF8F3;
    text-align: center;
    opacity: 0.6;
    margin-top: 0;
    padding-bottom: 10px;
}
.hide{
    display: none;
}

/* responciveness */
/* mobile devices */
@media screen and (max-width:576px) {
    .about-me{
        width:fit-content;
        padding:0 10px;
        margin: 5px auto;
    }
    .skills-container{
        flex-direction: column;
        padding: 20px auto;
    }
    .summary-cont{
        flex-direction: column;
        padding:0 20px;
        margin-top: 5px;
    }
    .footer-parent{
        flex-direction: column;
        padding: 10px;
    }
    
}